<h1><%= @comment.title %></h1>

<p><%= @comment.comment %></p>

<p>EDITTED FOR GIT</p>

<%= link_to "Edit", edit_comment_path(@comment) %>
<%= link_to "Delete", comment_path(@comment),
                      method: :delete,
                      data: {confirm: "Are you sure?"} %>
